@media screen and (min-width: 600px){
    .footer{
        grid-area: footer;
        justify-items: space-around;
        width: 100%;
        height: 5vh;
        left: 0px;
        top: 0px;
        padding: 10px;
        background: #E7EFF4;
        }

    .body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "header header header header header"
        "cell1 cell1 cell1 cell1 cell6"
        "cell2 cell2 cell2 cell2 cell6"
        "cell3 cell3 cell4 cell4 cell6"
        "cell5 cell5 cell5 cell5 cell6"
        "port port port port port"
        "footer footer footer footer footer";
        background: linear-gradient(180deg, #F8F2FF 0%, rgba(250, 250, 250, 0) 100%);
        backdrop-filter: blur(125px);
    }
}

@media screen and (min-width: 400px) and (max-width: 599px){
    .footer{
        display: none;
    }

    .body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "header header header"
        "cell1 cell1 cell6"
        "cell2 cell2 cell6"
        "cell3 cell4 cell6"
        "cell5 cell5 cell6"
        "port port port";
        background: linear-gradient(180deg, #F8F2FF 0%, rgba(250, 250, 250, 0) 100%);
        backdrop-filter: blur(125px);
    }
}

@media screen and (max-width: 399px){
    .footer{
        display: none;
    }
}

.header{
    grid-area: header;
}
.BIO{
    grid-area: bio;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
}

.now_available{
    grid-area: now;
    padding: 1% 4%;
    width: 11%;
    height: 3%;
    background: #F5EDFF;
    border-radius: 179.467px;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 10%;
    color: #AF48FF;
}

.navigation_sm1{
    grid-area: nav1;
    cursor: pointer;
}

.main_text{
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.cell_1{
    grid-area: cell1;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 10%;
    letter-spacing: -0.04em;
    color: #25323D;
}

.cell_2{
    grid-area: cell2;
    color: #5D87A8;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.cell_3{
    grid-area: cell3;
    color: #5D87A8;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.talent{
    color:#AF48FF;
    text-decoration: none;
    cursor: pointer;
}

.cell_4{
    grid-area: cell4;
    color: #5D87A8;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.email{
    color:#AF48FF;
    text-decoration: none;
    cursor: pointer;
}

.cell_5{
    grid-area: cell5;
    color: #5D87A8;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.cell_6{
    grid-area: cell6;
    justify-items: center;
    align-items: center;
}

.portf{
    grid-area: port;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.portfolio{
    background: #FFFFFF;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 6px;
}