@media screen and (min-width: 1024px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 3fr;
        justify-items: start;
        text-align: start;
        grid-template-areas: 
        "H1 H1t H4 H4"
        "H2 H2t H4 H4"
        "H3 H3t H4t H4t"
        "H5 H5 H5 H5";
        gap: 1vh;
        padding: 1vh;
    }
    .H1{
        grid-area: H1;
        padding: 1vh;
        justify-self: end;
    }
    .H1t{
        grid-area: H1t;
        padding: 1vh;
    }
    .H2{
        grid-area: H2;
        padding: 1vh;
        justify-self: end;
    }
    .H2t{
        grid-area: H2t;
        padding: 1vh;
    }
    .H3{
        grid-area: H3;
        padding: 1vh;
        justify-self: end;
    }
    .H3t{
        grid-area: H3t;
        padding: 1vh;
    }
    .H4{
        grid-area: H4;
        padding: 1vh;
        justify-self: center;
    }
    .H4t{
        grid-area: H4t;
        padding: 1vh;
    }
    .H5{
        grid-area: H5;
        justify-self: center;
        text-align: center;
        padding: 2vh;
        margin: 2vh;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: start;
        text-align: start;
        gap: 1vh;
        padding: 1vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer{
        display: none;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: start;
        text-align: start;
        grid-template-areas: 
        "H1 H1t"
        "H2 H2t"
        "H3 H3t"
        "H4 H4"
        "H4t H4t"
        "H5 H5";
        gap: 1vh;
        padding: 1vh;
    }
    .H1, .H2, .H3, .H4, .H5{
        justify-self: center;
    }
}
@media screen and (max-width: 767px){
    .container{
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        justify-items: center;
        text-align: start;
        grid-template-areas: 
        "H1"
        "H1t"
        "H2"
        "H2t"
        "H3"
        "H3t"
        "H4"
        "H4t"
        "H5";
        padding: 1vh;
    }
    .footer{
        display: none;
    }
}
img{
    max-width: 100%;
}
.header{
    text-align: center;
}
.losung{
    color: var(--yellow-500, #F59E0B);
    text-align: center;
    font-size: 1em;
    font-family: Lexend;
    font-weight: 500;
    text-transform: capitalize;
}
.infohead{
    color: var(--mrt-app-headline, #1B1C57);
    text-align: center;
    font-size: 2em;
    font-family: Lexend;
    font-weight: 600;
    text-transform: capitalize;
}